<div id="enter">
  <h3 class="title">Entering chat room: <%= @room.title %></h3>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end%>
  
  <%= form_tag :method => "post" do %>
    
    <div class="form-item">
      <%= label_tag(:name, "Your name:")%> <%= text_field_tag(:name) %>
    </div>
    
    <div class="form-item">
      <% if @room.private %>
        <%= label_tag(:password, 'Password:') %> <%= password_field_tag(:password) %>
      <% end %>
    </div>
    
    <%= submit_tag("Enter") %>
  <% end %>
</div>