<div id="room-header">
  <h2><%= @room.title %></h2>
  <div class="description"><%= @room.description %></div>
</div>

<div id="messages">
  <%= render :partial => @room.messages %>
</div>

<div id="chatbox">
  <% form_for @message, {:remote => TRUE, :url => { :controller => "messages", :action => "create" }} do |f| %>
    <%= f.text_field(:body, :autocomplete => :off) %>
    <input type="hidden" name="room_id" value="<%= @room.id %>" />
    <%= submit_tag("Send")%>
  <% end %>
</div>

<script>
  Application.vars.room_id = "<%= @room.id %>";
</script>