<!DOCTYPE html>
<html>
<head>
  <title>Chat App</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :jquery %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= body_id %>" class="<%= body_classes %>">

<div id="wrapper"><div id="wrapper-inner">
  <div id="logo"></div>
  <div id="navigation">
    <%= link_to "Chat Rooms", "/rooms" %> :: <%= link_to "Create Room", '/rooms/new' %> :: <%= link_to "Logout", "/logout" %>
  </div>

  <%= yield %>

</div></div>

</body>
</html>
