<!DOCTYPE html>
<html>
<head>
  <title>Chatter App</title>
  <%= stylesheet_link_tag %w(styles mini) %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= body_id %>" class="<%= body_classes %>">

  <div id="logo">
    <h1><%= link_to 'ChatterApp', :root %></h1>
  </div>

  <div id="wrapper"><div id="wrapper-inner" class="clearfix">
    <%= yield %>
  </div></div>

  <%= render :partial => 'layouts/footer' %>

  <%= javascript_include_tag :jquery %>

</body>
</html>
